In [1]:
import pandas as pd
import numpy as np
from mylinearregression import MyLinearRegression as MyLR

In [2]:
data = pd.read_csv("./resources/saturn_asteroids.csv")

In [3]:
data

             x1       x1**2        x2      x2**2          y
0     14.263345  203.443018  9.664967  93.411579  55.100248
1      1.064010    1.132117  2.533052   6.416354   5.808565
2     17.642486  311.257326  8.459919  71.570222  60.844557
3      5.756596   33.138401  5.078344  25.789577  20.488656
4     12.090395  146.177647  2.070983   4.288970  30.886121
...         ...         ...       ...        ...        ...
1995   9.812014   96.275623  6.050539  36.609025  32.400486
1996   6.304753   39.749910  5.889572  34.687058  23.484234
1997   6.300211   39.692665  9.723203  94.540677  34.843362
1998   7.653938   58.582774  9.165493  84.006269  36.228435
1999   2.889917    8.351622  1.880629   3.536767   8.683162

[2000 rows x 5 columns]

In [4]:
X = np.array(data[['x1','x2']])
Y = np.array(data['y']).reshape(-1,1)

In [5]:
print(X[:,1].shape)
print(Y.shape)

(2000,)
(2000, 1)

In [6]:
hypo1 = MyLR([1., 1.])
hypo2 = MyLR([1., 1.])

In [7]:
hypo1.fit_(X[:,0].reshape(-1,1), Y, alpha = 1e-4, n_cycle = 1e5)

cost: 20.77528599215037

array([[5.54359453],
       [2.67174611]])

In [11]:
hypo2.fit_(X[:,1].reshape(-1,1), Y, alpha = 1e-4, n_cycle = 1e5)

cost: 110.90266702102628

array([[16.24492219],
       [ 3.00594935]])

In [14]:
hypo1.rmse_(X[:,0].reshape(-1,1),Y)
hypo2.rmse_(X[:,0].reshape(-1,1),Y)

15.261788122087916